body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f2f4f7;
}

/* Header nằm trên cùng */
.header {
  background: #2c3e50;
  padding: 20px;
  color: white;
}

.title {
  margin: 0;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 2px;
}

/* Form nằm giữa màn hình */
    .main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px); /* trừ chiều cao header */
    }

    .login-box {
      background: white;
      width: 350px;
      padding: 30px;
      border-radius: 12px;
      box-shadow: 0 8px 25px rgba(0,0,0,0.1);
    }

    .login-box h2 {
      text-align: center;
      margin-bottom: 25px;
    }

    .input-group {
      margin-bottom: 15px;
    }

    .input-group label {
      font-size: 14px;
      display: block;
      margin-bottom: 6px;
    }

    .input-icon {
      display: flex;
      align-items: center;
      border: 1px solid #ccc;
      border-radius: 8px;
      padding: 10px;
      background: #fff;
    }


    .input-icon input {
      border: none;
      outline: none;
      width: 100%;
      font-size: 15px;
    }

    .login-btn {
      width: 100%;
      padding: 12px;
      border: none;
      border-radius: 8px;
      background: #007bff;
      color: white;
      font-size: 16px;
      cursor: pointer;
      margin-top: 10px;
    }

    .login-btn:hover {
      background: #0056b3;
    }