body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f2f4f7;
}

/* Header nằm trên cùng */
.header {
  background: #2c3e50;
  padding: 20px;
  color: white;
}

/* NAVBAR */
.navbar {
  background: #34495e;
  padding: 12px 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap; /* Cho phép xuống hàng khi màn hình nhỏ */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  padding: 10px 18px;
  border-radius: 8px;
  transition: all 0.25s ease;
  background: rgba(255,255,255,0.08);
}

.navbar a:hover {
  background: #6565dd;
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}

.navbar a.active {
  background: #3445fc;
}

.div_tttk{
  text-align: right;
  padding-right: 50px;
}

.a_DangXuat{
  text-decoration: none;
  color: white;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 8px;
  transition: all 0.25s ease;
  background: rgba(255,255,255,0.08);
}

.a_DangXuat:hover{
  background: #6565dd;
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}